@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
}

.header-content-grid {
  grid-template-areas: 'menu logo actions';
  grid-template-columns: auto 1fr auto;
}

.header-logo {
  grid-area: logo;
}

.header-menu {
  grid-area: menu;
}

.header-actions {
  grid-area: actions;
}

.collapsible-content {
  overflow: hidden;
}
.collapsible-content[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.collapsible-content[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
